







.logo-test {
      font-size: 5rem;
      color: turquoise;
}

.main-row {
      background-color: whitesmoke;
      border-radius: 10px;
}

.logo-title {
      color: rgb(37, 55, 219);

}

.holder-page {
      width: 100%;
      --bs-gutter-x: -1.5rem !important;
}

tr {
      color: rgb(30, 102, 95);
      font-size: 1rem;
      font-weight: 500;
}

tr h3 {
      color: rgb(30, 102, 95);
      font-size: 1.3rem;
      font-weight: 600;
      margin-top: 1rem;
}

.table-padding {
      padding: 2rem;
}

.h1-title {
      font-size: 3rem;
      color: rgb(30, 102, 95);
      font-weight: 300;
      margin-top: 1rem;
      line-height: 1.6;

}

.cat-image {
      width: 70%;
      height: auto;
}

.comp-image {
      width: 100%;
      height: auto;
}

#profile-image{
      width: 50%;
      margin:auto
}

#logo-image{
      width: 50%;
      margin:auto
}

.toolbox{
      /* margin : 1rem; */
      padding: 1rem;
}

.toolbox-btn{
      margin-left: 1rem;
}



.sub-slide{
      overflow: hidden;width: 960px;
}

#pad{ 
      background-color: rgb(255, 255, 255,0.7);
      padding: 20px;
      border-radius: 20px;
}

.pointer {
      cursor: pointer;
}


.soBig{
      font-size: 4rem;
      color: lightcyan;
      text-shadow: rgb(247, 94, 33) 1px 1px 11px ;
}

.carousel-item {
      width: 90%;
}
    


.ser-main{
      /* padding: 30px; */
      height: 100% !important; 
      width: 100% !important;
      border-radius: 30px;
      white-space: normal;
      border: rgb(81, 48, 224) 6px solid !important;
      /* position: relative; */
      padding: 110px 60px 60px 60px;
      box-sizing: border-box;
}

.sub-main{
      border:#A8A8A8 3px solid !important;
      border-radius: 10px;
      height: 100% !important; 
      width: 100% !important;
      padding: 30px;
      box-sizing: border-box;
      overflow: scroll;
      overflow-x: scroll;
      overflow-y: hidden;

      
      



}
















