<div class="card main-card">

  <mat-card class="example-card ">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <img [src]="thumbnail" alt="thumbnail image">
      </div>
      <mat-card-title style="height: 40px !important; overflow: hidden;">{{serduct.title}}</mat-card-title>
      <mat-card-subtitle>{{serduct.category}} > {{serduct.subCategory}}</mat-card-subtitle>
    </mat-card-header>
    <div class="img-frame text-center">
      <img mat-card-image style="height: 190px;" class="card-img card-img-top img-thumbnail" src="{{cardImage}}"
        alt="Photo of a Shiba Inu">
    </div>
    <mat-card-content style="margin-bottom: 3px;">
      <p class="card-text" style=" height: 102px;  padding:2px 12px 6px 12px; overflow: hidden;">
        {{serduct.shortDescription}}
      </p>
    </mat-card-content>
    <mat-card-actions class="d-flex flex-row-reverse bd-highlight " style="padding: 1px 10px !important">
      <button mat-button class="btn btn-outline-secondary" (click)="transfer()"
        style="font-size: 0.7rem;padding: 1px 1px !important"> <span class="material-icons">
          more
        </span> SEE MORE</button>
      <button mat-button class="btn btn-outline-secondary" style="font-size: 0.7rem;padding: 1px 1px !important"> <span
          class="material-icons" style="color:yellowgreen">
          star_border
        </span> SAVE</button>
    </mat-card-actions>
  </mat-card>
</div>