

#main{
      width: 50%;
      margin: auto;
      background-color: white;
}

#titlespan{
      text-align: center;
      width: 100%;
      margin: 1rem;
}
#title{
      margin-top: 0.5rem;
      position: relative;
      align-self: center;
      font-size: 2rem; 
      font-weight: 700;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#signinkeyspan{
      text-align: center;
      width: 100%;
}

:host {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    