<br>
<br>


<div style="margin: 50px;">
      <div id="pad" class=" row">
            <div class=" col-1 my-auto ">
                  <div (click)="previousSlide()" *ngIf="previousActive">
                        <span class="material-icons d-flex  justify-content-center
                  pointer soBig">
                              arrow_back_ios
                        </span>
                  </div>
            </div>
            <div class=" col-10  ">
                  <div #carouselExampleSlidesOnly class="carousel slide">

                        <div class=" carousel-inner">
                              <div class="carousel-item  active ">
                                    <div class="row col-12 sub-slide">
                                          <app-serduct-card class=" col-4" [serduct]="serducts[6]"></app-serduct-card>
                                          <app-serduct-card class=" col-4" [serduct]="serducts[1]"></app-serduct-card>
                                          <app-serduct-card class=" col-4" [serduct]="serducts[2]"></app-serduct-card>
                                    </div>
                              </div>
                              <div class="carousel-item ">
                                    <div class="row col-12 sub-slide">

                                          <app-serduct-card class=" col-4" [serduct]="serducts[3]"></app-serduct-card>
                                          <app-serduct-card class=" col-4" [serduct]="serducts[4]"></app-serduct-card>
                                          <app-serduct-card class=" col-4" [serduct]="serducts[5]"></app-serduct-card>
                                    </div>
                              </div>
                              <div class="carousel-item ">
                                    <div class="row col-12 sub-slide">

                                          <app-serduct-card class=" col-4" [serduct]="serducts[4]"></app-serduct-card>
                                          <app-serduct-card class=" col-4" [serduct]="serducts[5]"></app-serduct-card>
                                          <app-serduct-card class=" col-4" [serduct]="serducts[6]"></app-serduct-card>
                                    </div>
                              </div>
                              <div class="carousel-item ">
                                    <div class="row col-12 sub-slide">

                                          <app-serduct-card class=" col-4" [serduct]="serducts[0]"></app-serduct-card>
                                          <app-serduct-card class=" col-4" [serduct]="serducts[1]"></app-serduct-card>
                                          <app-serduct-card class=" col-4" [serduct]="serducts[2]"></app-serduct-card>
                                    </div>
                              </div>
                              <div class="carousel-item ">
                                    <div class="row col-12 sub-slide">

                                          <app-serduct-card class=" col-4" [serduct]="serducts[0]"></app-serduct-card>
                                          <app-serduct-card class=" col-4" [serduct]="serducts[1]"></app-serduct-card>
                                          <app-serduct-card class=" col-4" [serduct]="serducts[2]"></app-serduct-card>
                                    </div>
                              </div>
                              <div class="carousel-item ">
                                    <div class="row col-12 sub-slide">

                                          <app-serduct-card class=" col-4" [serduct]="serducts[0]"></app-serduct-card>
                                          <app-serduct-card class=" col-4" [serduct]="serducts[1]"></app-serduct-card>
                                          <app-serduct-card class=" col-4" [serduct]="serducts[2]"></app-serduct-card>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
            <div class=" col-1 my-auto">
                  <div (click)="nextSlide()" *ngIf="nextActive">
                        <span class="material-icons d-flex  justify-content-center 
                  align-middle pointer soBig">
                              arrow_forward_ios
                        </span>
                  </div>
            </div>
      </div>
</div>